gravatar    = 'gravatar.com/avatar/061786c8573e698f86552feaafdd0e3c.png'
description = 'No-nonsense software consultancy.'

doctype 5
html(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')

  head

    meta(charset='utf-8')

    meta(name='viewport', content='initial-scale=1.0')
    meta(name='format-detection', content='telephone=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-title', content='SureFire')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='description', content=description)

    block meta

    title= title

    link(rel='apple-touch-icon', sizes='57x57', href='http://www.#{gravatar}?s=57')
    link(rel='apple-touch-icon', sizes='72x72', href='http://www.#{gravatar}?s=72')
    link(rel='apple-touch-icon', sizes='114x114', href='http://www.#{gravatar}?s=114')
    link(rel='apple-touch-icon', sizes='144x144', href='http://www.#{gravatar}?s=144')

    link(href=css('surefire'), rel='stylesheet', type='text/css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src=js('surefire'))

  body

    header
      h1 SureFire

    block content

    footer
      p.
        © #{ new Date().getFullYear() } SureFireThing Ltd.
        All Rights Reserved.
      p.
        Registered in England & Wales. Company No. 08261765.<br />
        Registered Office: The Stables, Broseley Hall, Church Street,
        Broseley, England, TF12 5DG.
